    @import 'Variable/Color';



nav {
    ul {
        padding: 0;
        margin: 10px 10px 10px 10px;
        li
        {
        }
        a {
            padding: 5px;
            transition: all ease-in-out 500ms;
        }
        a:hover {
            background: $blue;
            text-decoration: none;
            border-radius: 999px;
        }
    }
}
.horiNav {
    ul {
        li {
            display: inline-block;
            a {
            }
        }
    }
}
.vertiNav {
    ul {
        li {
            display: block;
            a {
            }
        }
    }
}