// [my] Place-Holder Defaults \\
$white: #FFFFFF;
$black: #000000;
// Shades of a [n Explicitly Defined] Color also \\
$grey: hsl(0, 0%, 50%);
$whisper: hsl(0, 13%, 91%);
$fireBrick: hsl(0, 74%, 44%);
$red: hsl(0, 100%, 50%);
$greyDim: hsl(5, 14%, 36%);
$birdFlower: hsl(56, 76%, 43%);
$yellow: hsl(60, 100%, 50%);
$green: hsl(120, 100%, 50%);
$limeDark: hsl(122, 78%, 43%);
$limeLight: hsl(136, 79%, 44%);
$celtic: hsl(160, 11%, 22%);
$cyan: hsl(180, 100%, 50%);
$swampLight: hsl(180, 12%, 11%);
$greySlate-Dark: hsl(180, 15%, 9%);
$swampDark: hsl(180, 17%, 8%);
$blueRegal: hsl(210, 65%, 20%);
$denim: hsl(217, 79%, 41%);
$blueMedium: hsl(238, 79%, 44%);
$blue: hsl(240, 100%, 50%);
$magenta: hsl(300, 100%, 50%);
$MagentaDark: hsl(304, 77%, 45%);
$scorpion: hsl(333, 5%, 42%);
$roseOld: hsl(346, 48%, 52%);

// Scheme from www.palettegenerator.com \\
// Color Names Provided using www.htmlcsscolor.com \\
// Scheme from www.canva.com \\
