<!-- <p>
  core-navbar works!
</p> -->

<nav class="navbar navbar-expand-sm justify-content-center hornav" id="top-nav">
  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <!-- <i class="navbar-toggler-icon"></i> -->
    <i class="material-icons">
      menu
    </i>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link icons-eight home" routerLink="home">
          <img src="https://png.icons8.com/material/35/bdc3c7/home-page.png" alt="Home">
          <span class="navhov-text">
            Home
          </span>
        </a>
      </li>
      <!-- Dropdowns -->
      <li class="nav-item dropdown info">

        <a class="nav-link icons-eight info" href data-toggle="dropdown">
          <img src="https://png.icons8.com/material/35/bdc3c7/info.png" alt="About">
          <span class="navhov-text">
            About
          </span>
        </a>
        <div class="dropdown-menu " style="background-color: transparent">
          <a class="dropdown-item" routerLink="info/me">
            About Me
          </a>
          <a class="dropdown-item" routerLink="info/site">
            This Site
          </a>
        </div>
      </li>
      <li class="nav-item dropdown resume">
        <a class="nav-link icons-eight resume" href data-toggle="dropdown">
          <img src="https://png.icons8.com/material/35/bdc3c7/resume.png" alt="Resumes">
          <span class="navhov-text">
            Resumes
          </span>
        </a>
        <div class="dropdown-menu " style="background-color: transparent">
          <a class="dropdown-item" routerLink="cv/main">
            Main (complete) CV
          </a>
          <a class="dropdown-item" [routerLink]="[ '/cv', 'modelling' ]">
            3D Work
          </a>
          <a class="dropdown-item" [routerLink]="[ '/cv', 'animating' ]">
            Animation
          </a>
          <a class="dropdown-item" [routerLink]="[ '/cv', 'painting' ]">
            2D Work
          </a>
          <a class="dropdown-item" [routerLink]="[ '/cv', 'scripting' ]">
            Code
          </a>
        </div>
      </li>
      <!-- <li class="nav-item dropdown portfolio">
        <a class="nav-link dropdown-toggle" href data-toggle="dropdown">
          Portfolios
        </a>
        <div class="dropdown-menu " style="background-color: transparent">
          <a class="dropdown-item" href="#">
            2D Work
          </a>
          <a class="dropdown-item" href="#">
            3D Work
          </a>
          <a href="#" class="dropdown-item">
            Design and Development
          </a>
        </div>
      </li> -->
      <!--
         ^ Will come back to this at a later time...
         Not sure what to add yet and how to sort it out
         Will Probably add them as what I'm calling "Hidden Links":
         Links not shown on the main sections of the naviigation,
         but as sub-parts of the CV section, mainly ^
         -->
      <li class="nav-item dropdown project">
        <a class="nav-link icons-eight project" href data-toggle="dropdown">
          <img src="https://png.icons8.com/material/35/bdc3c7/task.png" alt="Projects">
          <span class="navhov-text">
            Projects
          </span>
        </a>
        <div class="dropdown-menu " style="background-color: transparent">
          <a routerLink="projects/past" class="dropdown-item">
            Past
          </a>
          <a routerLink="projects/present" class="dropdown-item">
            Present
          </a>
          <a routerLink="projects/future" class="dropdown-item">
            Future
          </a>
          <a routerLink="projects/ongoing" class="dropdown-item">
            Ongoing
          </a>
        </div>
      </li>
      <!-- <li class="nav-item">
        <a href class="nav-link disabled">
          Link Other
        </a>
      </li> -->
      <!-- ^ This is only here to demonstrate that I know how to use it ^ -->
    </ul>
  </div>
</nav>
