<p>
  Hi there,
  <br> <br>

  Thank you very much for clicking on & exploring my profile.
  As you may have noticed by the sub-heading of this website, I think of myself as a "Creative 'Semi-Intermediate'" in
  terms of my skills.<br>

  "So.... what are those skills?" you may or may not be asking. Well I'm glad you asked (even if you didn't), so here
  they are in no particular order:
  <br><br>

  3D Modelling, Animation & CAD - Novice:<br>
  I use Blender right now, but I’ve used trial versions of 3DS Max & May.<br>
  I also took Design & Communication
  Graphics during my Leaving Certificate followig on from Technical Graphics/Drawing in my Junior Cert course. The
  program used was AutoCAD.
  <br><br>

  2D Art & Animation - Beginner: <br>
  After discovering Krita, I’ve taken more of an interest in a painterly approach to art rather than what I’d
  call a more photo-edited method.<br>
  I seek to improve my skills in the hopes of possibly getting into different types of
  Concept Design.
  <br><br>

  Web & App Development - Semi-Intermediate: <br>
  In creating a website mainly for a Portfolio & other works, I’ve learnt about various languages. I’ve also got
  a bit of experience with coding in Java on Object-Oriented Programming assignments. I was introduced to the
  “TypeScript-based open-source front-end web application platform” known as Angular after wanting a way to easily
  shift between sections of my web design project. After discovering the advantages of SASS, I'm learning that as well.
  <br><br>

  General Game Development - Semi-Novice: <br>
  In secondary school, I took part in the Business Enterprise Awards event with classmates (at the time I wasn’t
  very comfortable with the marketing side, so I asked for help). After this, I decided a career in the Game
  Development industry was interesting and so my journey began.
  <br><br>

  Thanks for reading & Regards,
  <br>
  Salum Muhammed,
  <br>
  ~~|~~ Remember the Past, Live the Present, Dream the Future ~~|~~
</p>
