<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<div class="container">
  <table class="table table-dark table-hover table-striped">
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Steve Smith</td>
        <td>28</td>
      </tr>
      <tr>
        <td>David Warner</td>
        <td>29</td>
      </tr>
      <tr>
        <td>Joe Root</td>
        <td>27</td>
      </tr>
    </tbody>
  </table>
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<router-outlet></router-outlet> -->

<!-- <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head> -->

<div id="hero-image" class="index-hero">
  <div id="hero-content">
    <app-pagetop></app-pagetop>

    <hr class="sectionSplitter shortSplitter">

    <header class="container" id="site-header">
      <section id="siteHeadings">
        <h1>
          Portfolio Website
        </h1>
        <h3>
          Salum Muhammed
        </h3>
        <h6>
          Ceative Semi-Intermediate
        </h6>
      </section>
      <app-hornav></app-hornav>
    </header>

    <hr class="sectionSplitter longSplitter">

    <main id="site-content">
      <section class="container" id="core">
        <div class="row justify-content-center" id="blurb">
          <!-- ^ justify-content-center here 
              is so that the header elements are centred ^ -->
          <!-- ^ The "justify-content-center" classes on other rows
               are there as "Just in case" fallbacks, mainly ^ -->
          <h1>
            {{title}}
          </h1>
          <p class="card-text">
            This website was origionally done as a Web Authoring assignment, but was developed (aesthetically) from a
            previous project
            and will be used as a dynamic template for further projects.
          </p>
        </div>
        <div class="row justify-content-center" id="content">
          <!-- ^ As of writing, card groups/decks are not responsive yet ^ -->
          <!-- <div class="col-12 col-sm-12 col-md-2 col-lg-3" id="legend">
            <nav class="navbar justify-content-center">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">Link 1</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link 2</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link 3</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-12 col-sm-12 col-md col-lg-6" id="story">
            <p>
              This is the main content section of the website.
            </p>
          </div> -->

          <div class="col-12 col-sm-12 col-md-12 col-lg-3 order-md-12" id="feed">
            <app-vernav></app-vernav>
          </div>
          <!-- <div class="col-12 col-sm-12 col-md-2 col-lg-3" id="legend">
            <nav class="navbar justify-content-center">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">Link 1</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link 2</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link 3</a>
                </li>
              </ul>
            </nav>
          </div> -->
          <div class="col-12 col-sm-12 col-md col-lg order-lg-12" id="story">
            <router-outlet></router-outlet>
          </div>
        </div>
        <div class="row justify-content-center" id="ads">
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores quasi modi tempora corrupti
            cupiditate eum quos labore
            porro, eaque dolorum hic sequi mollitia, soluta, veritatis velit. Illo a repudiandae dolorem?
          </p>
        </div>
      </section>
    </main>

    <hr class="sectionSplitter longSplitter">

    <footer id=site-footer class="container">
      <div id="btn-toolbar">
        <div class="wrapper">
          <div class="btn-group d-flex">
            <div class="btn-group w-100" role="group">
              <button type="button" class="btn w-100">
                Contacts
              </button>
            </div>
            <div class="btn-group w-100" role="group">
              <button type="button" class="btn w-100">
                Maps
              </button>
            </div>
            <div class="btn-group w-100" role="group">
              <button type="button" class="btn w-100">
                Credits
              </button>
            </div>

          </div>
        </div>
      </div>
    </footer>

    <hr class="sectionSplitter shortSplitter">

    <app-pagebot></app-pagebot>
  </div>
</div>
