    @import '../Variable/Color';

    nav {
      ul {
        li {
          a.dropdown-menu {
            transition: all ease-in-out 1000ms;

            &:hover {
              background: $red;
              text-decoration: none;
              border-radius: 999px;
            }
          }
        }
      }
    }

    // .horiNav {
    //   ul {
    //     li {
    //       display: inline-block;
    //     }
    //   }
    // }
    // .vertiNav {
    //   ul {
    //     li {
    //       display: block;
    //     }
    //   }
    // }
