/* You can add global styles to this file, and also import other style files */

/* This is also a place where I will write test-code
 - that I think *should* work -
  temporarilly */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*
Why Indigo-pink?
it was the default
also I'm overriding most things with my own theming anyway
*/

@import "SCSS/Layout/Head";
@import "SCSS/Module/Hero";
@import "SCSS/Layout/Bod";
@import "SCSS/Shard/Navbar";
@import "SCSS/Layout/Foot";
@import "SCSS/Layout/Splitter";
@import "SCSS/Module/Button";
@import "SCSS/Particle/Text";
@import "SCSS/Particle/Icon";
@import "SCSS/Particle/Image";
@import "SCSS/Variable/Color";



body {
  background: $black;
  text-align: center;

  * {
    transition: all ease-in-out 1000ms;
  }

  &:not(h1, h2, h3, h4, h5, h6) {
    font-family: 'Exo 2',
      sans-serif;
  }
}

#toEnd,
#toTop {
  padding: 5vh;
}

// a.nav-link.io-icons.resume {
//   &:after {
//     content: "index";
//   }
// }
