<nav class="navbar justify-content-center">
  <ul class="navbar-nav">
    <li class="nav-item dropdown twitter feed-social">
      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
        Twitter Timelines:
      </a>
      <div class="dropdown-menu w3-animate-top" style="background-color: transparent">
        <a class="dropdown-item twitter-timeline" data-height="360" data-width="1000" data-theme="dark" data-link-color="#EEEEEE"
          href="https://twitter.com/samrs15?ref_src=twsrc%5Etfw" data-chrome="transparent">
          Tweets by samrs15
        </a>
      </div>
    </li>
    <!-- ^ Twitter Timeline ^ -->
    <hr>
    <li class="nav-item dropdown facebook feed-social">
      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
        Facebook Posts:
      </a>
      <div class="dropdown-menu w3-animate-top" style="background-color: transparent">
        <!-- <div class=" dropdown-item fb-page" data-href="https://www.facebook.com/samrs761508" data-tabs="timeline,events,messages"
                      data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                      data-show-facepile="true">
                    </div> -->
        <!-- ^ dont know why, but feed not showing up
 maybe it needs to be a group instead of a personal profile? ^ -->
        <p>
          I was going to add in a [personal] Facebook Timeline here,
          <br> but apparantly I cant seem to get it working...
          <br> If you know how to do that then please tell me.
        </p>
      </div>
    </li>
    <!-- ^ FaceBook Posts ^ -->
    <hr>
    <li class="nav-item dropdown pinterest feed-social">
      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
        Pinterest Feed:
      </a>
      <div class="dropdown-menu w3-animate-top" style="background-color: transparent">
        <a class="dropdown-item" data-pin-do="embedUser" data-pin-board-width="60 " data-pin-scale-height="300 " href="https://www.pinterest.ie/silvrcrystalfenix/
  ">
          Salum's Pinterest Boards
        </a>
        <!-- ^ Pinterest Feed ^ -->
      </div>
    </li>
  </ul>
</nav>
