<div id="btn-toolbar">
  <div class="wrapper">
    <div class="btn-group d-flex">
      <div class="btn-group w-100" role="group">
        <button type="button" class="btn w-100">
          <a [routerLink]="[ '/contacts' ]" routerLinkActive="active">
            Contacts
          </a>
        </button>
      </div>
      <div class="btn-group w-100" role="group">
        <button type="button" class="btn w-100">
          <a [routerLink]="[ '/maps' ]" routerLinkActive="active">
            Maps
          </a>
        </button>
      </div>
      <div class="btn-group w-100" role="group">
        <button type="button" class="btn w-100">
          <a [routerLink]="[ '/credits' ]" routerLinkActive="active">
            Credits
          </a>
        </button>
      </div>

    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-12">
    <div class="btn-group w-100" role="group">
      <button type="button" class="btn w-100">
        <a href="https://icons8.com">
          Icon pack by Icons8
        </a>
      </button>
    </div>
  </div>
</div>
