<div id="hero-image" class="index-hero">
  <div id="hero-content">
    <!-- <app-section-top></app-section-top> -->
    <div id="toEnd">
      <a name="Top" id="Top" [routerLink]="[ '.' ]" fragment="End" queryParamsHandling="merge">
        Go to End of Page
      </a>
    </div>
    <hr class="sectionSplitter shortSplitter">
    <header class="container" id="site-header">
      <app-core-navbar></app-core-navbar>
      <section id="siteHeadings">
        <app-maintitle></app-maintitle>
      </section>
    </header>
    <hr class="sectionSplitter longSplitter">
    <main id="site-content">
      <section class="container" id="core">
        <div class="row justify-content-center" id="blurb">
          <!-- ^ justify-content-center here
              is so that the header elements are centred ^ -->
          <!-- ^ The "justify-content-center" classes on other rows
               are there as "Just in case" fallbacks, mainly ^ -->
          <!-- <h1>
            {{title}}
          </h1> -->
          <p>
            <!-- <button backButton>BACK</button> -->
            <!-- <a href="javascript:void(0)" (click)="backButton">
              Back
            </a> -->
            <app-back-button></app-back-button>
          </p>
          <app-mainblurb></app-mainblurb>
        </div>
        <div class="row justify-content-center" id="content">
          <!-- ^ As of writing, card groups/decks are not responsive yet ^ -->
          <div class="col-12 col-sm-12 col-md-12 col-lg-3 order-12 order-sm-12 order-md-12 order-lg-1" id="feed">
            <app-social></app-social>
            <ngx-twitter-timeline [data]="{sourceType: 'url', url: 'https://twitter.com/ChromaHills'}" [opts]="{tweetLimit: 5}"></ngx-twitter-timeline>

          </div>
          <div class="col-12 col-sm-12 col-md col-lg order-sm-1 order-md-1 order-lg-12" id="story">
            <router-outlet></router-outlet>
          </div>
        </div>
        <div class="row justify-content-center" id="advert">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <app-section-advert></app-section-advert>
          </div>
        </div>
      </section>
    </main>
    <hr class="sectionSplitter longSplitter">
    <footer id=site-footer class="container">
      <app-footbar></app-footbar>
    </footer>
    <hr class="sectionSplitter shortSplitter">
    <div id="toTop">
      <a name="End" id="End" [routerLink]="['.']" fragment="Top">
        Go to Top of Page
      </a>
    </div>
    <!-- <app-section-bottom></app-section-bottom> -->
  </div>
</div>
