@import "../../../SCSS/Variable/Color";



.btn-toolbar {
  margin: 1em;
  text-align: center;
  display: block;
}

button {
  padding: .25em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  /* This is actually meant to be !important apparantly */
  border-radius: 999px !important;

  &:hover {
    background-color: $blueRegal;
    color: $yellow;
  }

  a {
    color: $black;

    &:hover {
      color: $yellow;
    }
  }
}
