// [my] Place-Holder Defaults \\
$white: #FFFFFF;
$yellow: #FFFF00;
$cyan: #00ffff;
$black: #000000;
// Shades of a [n Explicitly Defined] Color also \\
$red: #FF0000;
$fireBrick: #C11D1D;
$roseOld: #BF4965;
$grey: rgb(127, 127, 127);
$greySlate-Dark: #141B1B;
$greyDim: #68504E;
$magenta: #FF00FF;
$MagentaDark: #CC1BC1;
$swampDark: #111818;
$swampLight: #192020;
$green: #00FF00;
$limeDark: #18C51E;
$limeLight: #17C945;
$blue: #0000ff;
$blueMedium: #171CC9;
// Scheme from www.palettegenerator.com \\
// Color Names Provided using www.htmlcsscolor.com \\
$celtic: #333F3B;
$denim: #1656BB;
$scorpion: #70656A;
$birdFlower: #C2B81A;
$whisper: #EBE5E5;
// Scheme from www.canva.com \\
