<div class="btn-toolbar">
  <div class="btn-group" role="group">
    <app-motto></app-motto>
  </div>
</div>
<div class="btn-toolbar">
  <div class="btn-group ">
    <button type="button" class="btn w-100">
      <a href="https://www.deviantart.com/deltatechproductions" target="_blank">
        <img src="https://img.icons8.com/material/30/000000/devianart.png">
      </a>
    </button>
    <button type="button" class="btn w-100">
      <a [routerLink]="[ '/contacts' ]" routerLinkActive="active">
        Contacts
      </a>
    </button>
    <button type="button" class="btn w-100">
      <a [routerLink]="[ '/maps' ]" routerLinkActive="active">
        Maps
      </a>
    </button>
    <button type="button" class="btn w-100">
      <a [routerLink]="[ '/credits' ]" routerLinkActive="active">
        Credits
      </a>
    </button>
    <button type="button" class="btn w-100">
      <a href="https://www.linkedin.com/in/salum-ali-muhammed/" target="_blank">
        <img src="https://img.icons8.com/material/30/000000/linkedin.png">
      </a>
    </button>
  </div>
</div>
<div class="btn-toolbar">
  <div class="btn-group" role="group">
    <app-icon></app-icon>
  </div>
</div>
