<h1>
  Environment Eight
</h1>

<br>

<h3>
  Background:
</h3>
<p>
  2018 was my second - and second consecutive - year taking part in the Global Game Jam event. During the month
  of January and the week of the jam in general, I had learnt quite a bit about myself and parts of my workflow. For
  example, I noticed that for the past two years I took the role of "Artist". I also decided that, if I where to
  have an art-related role, I'd like to do Illustration rather than Concept Art as a possible career choice as I tend
  to very quickly stick to and dynamically change <b>one</b> idea, rather than try and come up with
  multiple smaller ideas for a single project. <br>
  After GGJ '18, I had decided to focus first on Environment, Prop and Scene design as a start to my
  portfolios, leading to the conception of Environment Eight. For this project, I had decided to do one piece of
  artwork each month - the first 30 days of
  each month - for the rest of the year. Since there are eight months left starting May 1st, also because the name
  reminded me of "Endless Eight", I had decided
  to call the project Environment Eight even though I had planned on doing some sort of prop and scene designs as well.
  For various reasons, I decided to include templates of logo-designs and other such things that I worked on at
  any given month, seeing as I didn't have that much free time to do two projects at the same time.
</p>

<br>

<div>
  <p>
    The following slideshow has some of my better (which is to say personal favourite) pieces from this project. To
    Learn more about a piece, please click on the image to be taken <del>to a brand new world</del> to the relevent
    popup
  </p>
</div>
