@import "../Variable/Color";

button {
  /* This is actually meant to be !important apparantly */
  border-radius: 999px !important;
  padding: 0;
  margin: 0;
  // color: black;

  //   background-color: green;
  &:hover {
    background-color: $blueRegal;
    color: $yellow;
    border-radius: 999px;
  }

  a {
    display: block;
    margin: 0px;
    padding: 0px;
    color: $black;

    &:hover {
      background: none;
    }
  }
}

// .button {
//     background: $butt-bg;
//   border-radius: 8px;
//     color: $butt-col;
//   display: inline-block;
//     padding: $butt-pad;
//   text-decoration: none;
// }
// .jumbo-button {
//   @extend .button;
//     padding: $butt-pad + 30;
// }
// .light-button {
//   @extend .button;
//     background: $butt-bg * 1.5;
// }
