@import "/../../SCSS/Variable/Color";

nav {
  .dropdown-item {
    color: $black;
    background-color: rgba($color: $white, $alpha: 0.5);
    transition: all 2500ms ease-in;
    text-align: center;

    &:hover {
      font-weight: bold;
      background-color: $red;
      border-radius: 999px;
    }
  }

  .icons-eight {
    >span.navhov-text {
      display: none;
    }

    &:hover {
      .navhov-text {
        display: initial;
      }
    }

    /* ^ This way, link text is visible when hovered over
    and *stays* visible once the button is clicked ^ */
  }

}

/* ^ Evolved from https://codepen.io/KillerJK/pen/braqMJ ^ */

// .show-time {
//   display: initial;
// }


.dropdown:hover>.dropdown-menu {
  display: block;


}

.dropdown:hover>.dropdown-menu:focus~.nav-link {
  span {
    display: inherit;
  }
}
