@import "/../../SCSS/Variable/Color";

nav {
  .dropdown-item {
    color: $black;
    background-color: rgba($color: $white, $alpha: 0.5);
    transition: all 500ms ease-in;
    text-align: center;

    &:hover {
      // color: $black;
      font-weight: bold;
      background-color: $red;
      border-radius: 999px;
    }

    >.dropdown-toggle:active {
      /*Without this, clicking will make it sticky*/
      pointer-events: none;
    }
  }

  .icons-eight {
    >span.navhov-text {
      display: none;
    }

    &:focus,
    &:hover

    /* ^ This way, link text *stays* visible once the button is clicked ^ */
      {
      >.navhov-text {
        display: initial;
      }
    }
  }
}

/* ^ Evolved from https://codepen.io/KillerJK/pen/braqMJ ^ */
