@import "/../../../SCSS/Variable/Color";

nav {
  .nav-link {
    >span.navhov-text {
      display: none;
    }

    &:hover {
      .navhov-text {
        display: initial;
      }
    }

    /* ^ This way, link text is visible only when hovered over
    and *stays* visible once the button is clicked ^ */
  }

  .dropdown {


    &:hover {
      //   .dropdown-item:hover+.icons-eight {
      //     * {
      //       display: inline;
      //     }
      //   }
      // ^ My Attempt at making the .navhov-text sticky when hovering over navigation menus ^

      .dropdown-menu {
        display: block;

        .dropdown-item {
          color: $black;
          background-color: rgba($color: $white, $alpha: 0.5);
          transition: all 2500ms ease-in;
          text-align: center;

          &:hover {
            font-weight: bold;
            background-color: $red;
            border-radius: 999px;
          }
        }
      }
    }
  }
}

/* ^ Evolved from https://codepen.io/KillerJK/pen/braqMJ ^ */

// .show-time {
//   display: initial;
// }
