<p>
  To give credit where credit is due: <br>

</p>
<ul>
  <li>
    This is a Single Page Application, built with the
    <a href="https://angular.io/">Angular</a>
    Platform (v6+)
  </li>
  <li>
    Using the
    <a href="https://getbootstrap.com/">Bootstrap</a>
    Framework (v4+)
  </li>
  <li>
    Fonts Used:
    <ul>
      <li>
        <a href="https://fonts.google.com/specimen/Cinzel?selection.family=Cinzel">Cinzel</a>
        for headings and
        <a href="https://fonts.google.com/specimen/Exo+2">Exo 2</a>
        for everything else. Both are by
        <a href="Natanael Gama">Natanael Gama</a>
      </li>
    </ul>
  </li>
  <li>
    Icon Sets Used:
    <ul>
      <li>
        <a href="https://icons8.com">
          Icon pack by Icons8
        </a>
      </li>
      <li>
        <a href="https://material.io/">
          Material Design
        </a>
        Icons
      </li>
    </ul>
  </li>
</ul>
