#hero-image {
  background-image: url(./assets/IMG/LGO/DS_WhiteWash-Logo.png) !important;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;

  // &.index-hero {

  //   background-repeat: no-repeat;
  //   background-position: center center;
  //   background-attachment: fixed;
  //   background-size: cover;

  // }

  /* &.resume-hero
    {
      This is a Future Section... 
      it could happen
    } */
  /* &.Portfolio-hero
    {
      This is a Future Section
    } */
  /* &.project-hero
    {
    this is a future section
    } */
  #hero-content {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
}
