@import "/../../SCSS/Variable/Color";

nav {
<<<<<<< Updated upstream

  // &.hornav {
  //   border-radius: 999px;
  //   background-color: #fff;
  // }
  ul {
    li {
      a:hover {
        // background: $blue;
        border-radius: 999px;
      }

      .dropdown-menu {
        justify-content: center;

        a.dropdown-item {
          color: $white;
          background-color: rgba($color: $black, $alpha: .75);
          transition: all 500ms ease-in;
          text-align: center;

          &:hover {
            // color: $black;
            background-color: $red;
          }
        }
=======
  .dropdown-item {
    color: $black;
    background-color: rgba($color: $white, $alpha: 0.5);
    transition: all 500ms ease-in;
    text-align: center;

    &:hover {
      // color: $black;
      font-weight: bold;
      background-color: $red;
      border-radius: 999px;
    }

    >.dropdown-toggle:active {
      /*Without this, clicking will make it sticky*/
      pointer-events: none;
    }
  }

  .icons-eight {
    >span.navhov-text {
      display: none;
    }

    &:focus,
    &:hover

    /* ^ This way, link text *stays* visible once the button is clicked ^ */
      {
      >.navhov-text {
        display: initial;
>>>>>>> Stashed changes
      }
    }
  }
}

/* ^ Evolved from https://codepen.io/KillerJK/pen/braqMJ ^ */
