h1,
h2,
h3,
h4,
h5,
h6 {
  color: $roseOld;
  font-family: OptimusPrincepsSemiBold, sans-serif;
  /*Placeholder font family untill I can find a good workflow/template to stick with*/
}

p {
  color: $white;
  font-size: 1.25em;
}

a {
  color: yellow;

  text-decoration: underline;

  &:hover {
    color: $red;
    text-decoration: underline dotted;
    // color: $white;
    background-color: $blueRegal;
  }
}
